

{% for i in range(3) %}
    ###  item bee defined in task loops , in here item could read that item which be runing in task 
   Welcome !!!  repeat count {{ i }}  your name is {{ item.name }}
{% endfor %}




